.definition{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
    width: 77vw;
    font-size: 1.2rem;
    align-items: left;
}

.definition-left{
    text-align: center;
    padding: 10px;
    border-right:3px solid #333;
    margin-left: 12.5rem;
    max-width: 200px;
    min-width: 200px;
}

.calculation-right{
    text-align: left;
    padding: 10px;
    width: 1000px;
}

.equation{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
    width: 77vw;
    font-size: 1.2rem;
    align-items: left;
    margin-top: 10px;
}

.equation-left{
    text-align: center;
    padding: 10px;
    border-right:3px solid #333;
    margin-left: 12.5rem;
    max-width: 200px;
    min-width: 200px;
}

.equation-right{
    text-align: left;
    padding: 10px; 
    min-width: 1000px;
}

.calculator{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
    width: 77vw;
    font-size: 1.2rem;
    align-items: left;
    margin-top: 10px;
}

.calculator-left{
    text-align: center;
    padding: 10px;
    border-right:3px solid #333;
    margin-left: 12.5rem;
    max-width: 200px;
    min-width: 200px;
}

.calculator-right{
    text-align: left;
    padding: 10px; 
    min-width: 1000px;
}

.variable-input{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,1);
    min-width: 250px;
    outline: none;
    color: rgba(0,0,0,1);
    font-size: 1.2rem;
}
.variable-input:focus{
    border-bottom: 3px solid #ae9dcf;
}

.constant-selection{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
    margin-top: 15px;
}

.custom-input{
    max-width: 180px;
    text-align: center;
}

.single-input{
    display: block;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,1);
    border-bottom-style:dashed;
    max-width: 180px;
    padding-top: 20px;
    padding-left: 5px;
    outline: none;
    color: rgba(0,0,0,1);
    font-size: 1.2rem;
    
}
.single-input:focus{
    border-bottom: 2px solid #ae9dcf;
    border-bottom-style:dashed;
}
.select-input{
    min-width: 800px;
}
.antoines-constants{
    margin: 5px;
}
